In [7]:
first_name = input ('insert your first name:')
middle_name = input ('inser your middle name:')
last_name = input ("insert your last name:")
print("hello world", first_name, middle_name, last_name,"!!")

insert your first name:syahril
inser your middle name:gibran
insert your last name:wangsa guna
hello world syahril gibran wangsa guna !!

In [31]:
print("menghitung luas dan keliling persegi panjang")
 
    panjang= input ("masukan nilai sisi panjang")
    luas   = input ("masukan nilai sisi lebar")
    
    luas     = int(panjang) *  int(lebar)
    keliling = 2 * (int(panjang) + int(lebar))
    
    print("luas perssegi panjang", luas)
    print("keliling persegi panjang", keliling)

IndentationError: unexpected indent (1603500476.py, line 3)

In [21]:
print("18","oktober","2024",sep='\n') 
#18
#oktober
#2024
print("18","oktober","2024",sep='\n')#Escape character

18
oktober
2024
18
oktober
2024

In [25]:
print("1","2","3","4", sep="*" * 40, end="." * 6)

1****************************************2****************************************3****************************************4......

In [26]:
print("Memformat output")

l = 10
p = 20

print("luas persegi dengan lebar{} dan panjang{} + {}".format(l,p,l*p))

Memformat output
luas persegi dengan lebar10 dan panjang20 + 200

In [32]:
print("Memformat dengan index")

bulan1 = "januari"
bulan2 = "februari"

print("Nama-nama bulan {0},{1}".format(bulan1,bulan2))

Memformat dengan index
Nama-nama bulan januari,februari

In [45]:
#Memformat dengan tanda pengenal

print("Nama saya {fname}{lname}".format(fname = "syahril" , lname ="gibran"))

Nama saya syahrilgibran

In [40]:
kampus = "Universitas Nusa putra"
print(kampus[0]) #u
print(kampus[-1]) #a

#menggunakan range
print(kampus[0:11])
print(kampus[12:])
print(kampus[-5:])
print(kampus[::-1])

U
a
Universitas
Nusa putra
putra
artup asuN satisrevinU

In [43]:
p = 10
l = 20

print(f'luas persegi = {l*p}')
print(f'keliling persegi ={2 * (p+l)}')

luas persegi = 200
keliling persegi =60

In [54]:
nama_siswa = "Andri,Budi,Doni"

print(nama_siswa.split(','))
print('@'.join(nama_siswa.split(',')))

['Andri', 'Budi', 'Doni']
Andri@Budi@Doni

In [91]:
#buat program
#input => Tedi Wijaya
#input => 18/12/2003

#output     :
#nama anda  : Tedi Wijaya
#Tgl lahir  : 18
#bulan lahir: 12
#Tahun lahir: 2003
#inisial    : TW

nama= input ("isikan nama anda:")
tgl_lahir = input ("isikan tanggal lahir:")
bulan_lahir = input ("isikan bulan lahir:")

tgls = tgl_lahir.split('/')
bulans = bulan_lahir.split('/')

print(f"nama anda: {nama}")
print(f"tgl lahir: {tgls[0]}")
print(f"bulan_lahir: {bulans[0]}")
print(f"inisial : {nama[0:1]}{nama[6:0]}")

isikan nama anda:syahril
isikan tanggal lahir:28
isikan bulan lahir:05
nama anda: syahril
tgl lahir: 28
bulan_lahir: 05
inisial : s